<kendo-dialog-titlebar (close)="closeClick()">
  {{title}}
</kendo-dialog-titlebar>

<div class="main" [formGroup]="formGroup">

  <kendo-floatinglabel text="Code">
    <kendo-textbox
      formControlName="code"
     required
    ></kendo-textbox>
  </kendo-floatinglabel>

  <kendo-floatinglabel text="ISO4217">
    <kendo-textbox
      formControlName="iso4217"
      required
    ></kendo-textbox>
  </kendo-floatinglabel>

  <div>
    <input type="checkbox"
           #active
           formControlName="active"
           kendoCheckBox
    />
    <kendo-label
      class="k-checkbox-label"
      [for]="active"
      text="Active"
    ></kendo-label>
  </div>

  <kendo-dialog-actions layout="end">
    <button
      kendoButton
      (click)="onConfirmClick()"
      themeColor="primary"
    >{{confirmButtonTitle}}</button>

    <button
      kendoButton
      (click)="closeClick()"
    >Cancel</button>

  </kendo-dialog-actions>
</div>
