<kendo-appbar position="top">
  <kendo-appbar-section>
    <h1 class="title">MyBudget</h1>
  </kendo-appbar-section>

  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

  <kendo-appbar-section>
    <ul>
      <li><span [routerLink]="TRANSACTIONS_PAGE_ADDRESS" routerLinkActive="active">Transactions</span></li>
      <li><span [routerLink]="ANALYTICS_PAGE_ADDRESS" routerLinkActive="active">Analytics</span></li>
      <li><span [routerLink]="ACCOUNTS_PAGE_ADDRESS" routerLinkActive="active">Accounts</span></li>
      <li><span [routerLink]="CURRENCIES_PAGE_ADDRESS" routerLinkActive="active">Currencies</span></li>
      <li><span [routerLink]="HOLDERS_PAGE_ADDRESS" routerLinkActive="active">Holders</span></li>
      <li><span [routerLink]="KEEPERS_PAGE_ADDRESS" routerLinkActive="active">Keepers</span></li>
      <li><span [routerLink]="ACCOUNT_TYPES_PAGE_ADDRESS" routerLinkActive="active">Account types</span></li>
    </ul>
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-appbar-section class="actions">
  </kendo-appbar-section>
</kendo-appbar>
